{% extends 'inventory/base_template.html' %}

{% block title %}Brand List{% endblock %}

{% block content %}
<h1>Brands</h1>
<a href="{% url 'brand_create' %}" class="btn btn-success mb-3">Add New Brand</a>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Nationality</th>
        </tr>
    </thead>
    <tbody>
        {% for brand in brands %}
        <tr>
            <td>{{ brand.name }}</td>
            <td>{{ brand.nationality }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
